.navTabs {
    display: flex;
    justify-content: space-around;
    color: black;
}
.navTabs li {
    list-style-type: none;
    font-size: 25px;
}

.navTabs a {
    color: orange;
    text-decoration: none;
}